body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  margin: 0;
  display: inline;

  font-size: 1rem;
}

header,
section {
  padding: 10px;
}

header {
  padding: 10px;
  background-color: yellow;
  border-style: solid;
}

ul {
  display: inline;
}

li {
  display: inline;
  padding-right: 10px;
}
