span {
  position: absolute;
  top: 0;
  left: 0;
}

div {
  border: solid 2px;
  padding: 10px;
  position: relative;
}

#s1 {
  background-color: red;
  z-index: 1;
  top: 20px;
  left: 20px;
}
/* #s2 {
  background-color: blue;
} */
